.titleMonth {
  text-align: center;
  width: fit-content;
  min-width: 22rem;
  margin: auto;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: #f1f3f3;
  background-color: #1b2028;
  position: relative;
  border: 3px solid transparent;
  text-align: center;
  border-radius: 16px;
  background-clip: padding-box;
  color: #f1f3f3;
  background-image: linear-gradient(
    135deg,
    rgba(#752e7c, 0.35),
    rgba(#734a58, 0.1) 15%,
    #1b2028 20%,
    #1b2028 100%
  );

  &:after {
    content: '';
    display: block;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    z-index: -1;
    position: absolute;
    border-radius: 16px;
    background-image: linear-gradient(135deg, #752e7c, #734a58 20%, #1b2028 30%, #2c333e 100%);
  }
}

.calendario {
  display: flex;
  justify-content: center;
  align-items: start;

  .btnMonth {
    height: 100vh !important;

    button {
      cursor: pointer;
      height: 100% !important;
      width: 100%;
      font-size: xxx-large;
      background-color: #1b2028;
      position: relative;
      border: 3px solid transparent;
      text-align: center;
      border-radius: 16px;
      background-clip: padding-box;
      color: #97659c;
      background-image: linear-gradient(
        135deg,
        rgba(#752e7c, 0.35),
        rgba(#734a58, 0.1) 15%,
        #1b2028 20%,
        #1b2028 100%
      );

      &:after {
        content: '';
        display: block;
        top: -3px;
        left: -3px;
        bottom: -3px;
        right: -3px;
        z-index: -1;
        position: absolute;
        border-radius: 16px;
        background-image: linear-gradient(135deg, #752e7c, #734a58 20%, #1b2028 30%, #2c333e 100%);
      }
    }

    button:hover {
      color: #f1f3f3;
      background-image: linear-gradient(
        135deg,
        #752e7c86,
        #734a5890 75%,
        #1b2028 85%,
        #2c333e 100%
      );
      &:after {
        background-image: linear-gradient(135deg, #752e7c, #734a58 85%, #1b2028 95%, #2c333e 100%);
      }
    }
  }

  .mainContent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    margin: 0 1rem;

    @media screen and (max-width: 1025px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 550px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .card {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      background-color: #1b2028;
      position: relative;
      border: 3px solid transparent;
      text-align: center;
      border-radius: 16px;
      background-clip: padding-box;
      color: #f1f3f3;
      background-image: linear-gradient(
        135deg,
        rgba(#752e7c, 0.35),
        rgba(#734a58, 0.1) 15%,
        #1b2028 20%,
        #1b2028 100%
      );
      &:after {
        content: '';
        display: block;
        top: -3px;
        left: -3px;
        bottom: -3px;
        right: -3px;
        z-index: -1;
        position: absolute;
        border-radius: 16px;
        background-image: linear-gradient(135deg, #752e7c, #734a58 20%, #1b2028 30%, #2c333e 100%);
      }

      title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 1.5rem;
      }

      .content {
        color: black;
        padding: 0.5rem 0.2rem;
        max-width: 13rem;
        .item {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          text-align: center;
          padding: 0.5rem 1rem;
          margin: 0 0 0.5rem 0;
          gap: 0.5rem;
          border: 3px solid transparent;
          border-radius: 16px;
          background-clip: padding-box;
          color: #f1f3f3;
          background-image: linear-gradient(
            135deg,
            rgba(#752e7c, 0.5),
            rgba(#734a58, 0.3) 70%,
            #1b2028 85%,
            #1b2028 100%
          );

          .icon {
            font-size: 1.5rem;
          }

          .icon.food {
            color: #95289f;
          }

          .icon.dinner {
            color: rgb(191, 146, 255);
          }

          p {
            margin: 0;
            width: 100%;
          }
        }
      }
    }

    .card.current {
      cursor: pointer;
    }

    .card.prev {
      cursor: not-allowed;
      background-image: linear-gradient(
        135deg,
        rgba(#695e6a, 0.35),
        rgba(#453e40, 0.1) 15%,
        #212427 20%,
        #212427 100%
      );
      &:after {
        background-image: linear-gradient(135deg, #695e6a, #453e40 20%, #212427 30%, #212427 100%);
      }
      .content {
        .item {
          background-image: linear-gradient(
            135deg,
            rgba(#695e6a, 0.5),
            rgba(#453e40, 0.3) 70%,
            #212427 85%,
            #212427 100%
          );

          .icon {
            color: #695e6a;
          }
        }
      }
    }
  }
}
